<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
    <div class='page__info'>
        <header class='header'>
            <h1 class='header__name'>Alexander Kravchenko</h1>
            <p class='header__status'>Set status</p>
            <p class='header__check-online'>online</p>
        </header>
        <div class='main'>
            <ul class='main__list'>
                <li class='main__list-element'>
                    <p class='main__list-element_text'>Birthday:</p>
                    <a href='#'class='link'><p>January 29</p> </a>
                </li>
                <li class='main__list-element'>
                    <p class='main__list-element_text'>Current city:</p>
                    <a href='#' class='link'> <p href='#'>Rostov-on-Don</p> </a>
                </li>
                <li class='main__list-element'>
                    <p class='main__list-element_text'>Studien at:</p>
                    <a href='#' class='link'> <p href='#'>ИТА ЮФУ (бывш. ТТИ ЮФУ</p> </a>
                </li>
                <li class='main__list-element'>
                    <p class='main__list-element_text'>Website:</p>
                    <a href='#' class='link'><p href='#'>https://vk.com/coolrails</p> </a>
                </li>
            </ul>
            <a href='#' class='link'><p class='main__text-btn'>Show full information</p> </a>
        </div>
        <footer class='footer'>
            <ul class='footer__list'>
                <li class='footer__list-element'>
                    <a href='#' class='link'>
                        <p class="footer__count">317</p>
                        <p class='footer__text'>friends</p>
                    </a>
                </li>
                <li class='footer__list-element'>
                    <a href='#' class='link'>
                        <p class="footer__count">139</p>
                        <p class='footer__text'>folowers</p>
                    </a>
                </li>
                <li class='footer__list-element'>
                    <a href='#' class='link'>
                        <p class="footer__count">50</p>
                        <p class='footer__text'>photos</p>
                    </a>
                </li>
                <li class='footer__list-element'>
                    <a href='#' class='link'>
                        <p class="footer__count">8</p>
                        <p class='footer__text'>tags</p>
                    </a>
                </li>
                <li class='footer__list-element'>
                    <a href='#' class='link'>
                        <p class="footer__count">8</p>
                        <p class='footer__text'>videos</p>
                    </a>
                </li>
                <li class='footer__list-element'>
                    <a href='#' class='link'>
                        <p class="footer__count">106</p>
                        <p class='footer__text'>tracks</p>
                    </a>
                </li>
            </ul>
        </footer>
    </div>

    <div class='page__my-account'>
        <img class='my-account__photo' src="image/photo.png">
        <div class='my-account__btn'>
            <a class='my-account__btn-text' href='#'><p>Edit</p></a>
        </div>
        <div class='my-account__btn-list'>
            <a class='my-account__btn-list-element' href='#'>
                <div class='my-account__icon'>&#9875;</div>
                <p class='my-account__btn-list-element'>Page statistics</p>
            </a>
            <a class='my-account__btn-list-element' href='#'>
                <div class='my-account__icon'>&#9875;</div>
                <p class='my-account__btn-list-element'>Memories</p>
            </a>
            <a class='my-account__btn-list-element' href='#'>
                <icon class='my-account__icon'>&#9875;</icon>
                <p class='my-account__btn-list-element'>Money transfers</p>
            </a>
        </div>
    </div>

    <div class='page__photo'>
        <div class='photo-block'>
            <div class='photo-block__info'>
                <p class='photo-block__text'>My photos</p>
                <p>50</p>
            </div>
            <p class='photo-block__text photo-block__text_gray'>show on map</p>
        </div>
        <ul class='photo-block__photo-list'>
            <li class='photo-block__photo-element'>
                <img class='photo-block__photo' src="image/photo.png">
            </li>
            <li class='photo-block__photo-element'>
                <img class='photo-block__photo' src="image/photo.png">
            </li>
            <li class='photo-block__photo-element'>
                <img class='photo-block__photo' src="image/photo.png">
            </li>
            <li class='photo-block__photo-element'>
                <img class='photo-block__photo' src="image/photo.png">
            </li>
        </ul>
    </div>
    </body>
</html>
